{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="report-form-section">
    <div class="form-wrapper">
        <h2 class="form-title">Create Account</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="submit-btn">
                Create Account
            </button>
        </form>

        <p style="margin-top:20px;text-align:center;">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</section>
{% endblock %}
